<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.a520it.xianghacaipu">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 定位的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--在SDCard中创建与删除文件权限  -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--请求访问使用照相设备-->
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
        <activity android:name=".activity.NewsActivity">
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.FoodCardActivity">
        </activity>
        <activity android:name=".activity.UserInfoActivity">
        </activity>
        <activity android:name=".activity.ConcernActivity">
        </activity>
        <activity android:name=".activity.CollectActivity">
        </activity>
        <activity android:name=".activity.MyIndentActivity">

        </activity>
        <activity android:name=".activity.PublishActivity"/>
        <activity android:name=".activity.PostingActivity"/>
        <!-- android:windowSoftInputMode="adjustResize|stateHidden"-->
        <activity android:name=".activity.ChooseCircleActivity"/>
        <activity android:name=".activity.SendMenuActivity"/>
        <activity android:name=".activity.NoticeActivity"/>
    </application>

</manifest>